 <div class="container">
    <div class="row">
        <h1>Machine Test</h1>
    </div>
    <div class="row">
        <h3>Shaikh Faisal : 8655281035</h3>
    </div>
    <div class="row">
        <span>Requirements :</span>
        <ul>
            <li>CRUD operations can be done on products and categories </li>
            <li>A Product can be added to a Category </li>
            <li>If a Category  is deleted, all products in it will also be deleted</li>
            <li>Products Page have Pagination</li>
        </ul>
    </div>
    <br />
    <hr />
</div>

